# Binaries
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
*.code-workspace

# IDE/editor folders
.idea/
.vscode/

# Generated protocol buffer files
proto/**/*.pb.go
proto/**/*.pb.gw.go

# OS files
.DS_Store
Thumbs.db 

proxy
proxy.log
certs.db
agg-certificate-proxy
simple_receiver
tests/*.db
tests/*.log